{{define "title"}}About{{end}}

{{define "main"}}
    <h1>About</h1>
    </div class="left-column">
        <p>This website is written in go. The source code can be found on <a href="https://github.com/basvdhoeven/personal-website-go/">Github</a>. The <a href="https://lets-go.alexedwards.net/">Let's Go book</a> was of a great help when making this website.</p>
    </div>
{{end}}