{{define "title"}}Home{{end}}

{{define "main"}}
    <h1>Welcome!</h1>
    </div class="left-column">
        <p>Hi, I'm Bas and this is my personal website. Here you can find various useful or not so useful tools.</p>
    </div>
    <div class="right-column">
        <img class="home-image" src='/static/img/trainstation.jpg' alt="Trainstation at dawn">
    </div>
    This is an unrelated image.
{{end}}