{{define "title"}}Random Quotes{{end}}

{{define "main"}}
    <div>
        <h1>Random Quotes</h1>
        <div class="hover boxes">
            <a href="./finance">Finance</a>
            <a href="./books">Books</a>
            <a href="./movies">Movies</a>
        </div>
    </div>
{{end}}