{{define "title"}}Random Quote{{end}}

{{define "main"}}
    <div>
        <h1>{{.QuoteCategory}} Quote</h1>
       {{.Quote}}
    </div>
    <div class="boxes clickable">
            <a onClick="window.location.reload()">Random Quote</a>
    </div>
{{end}}
