{{define "title"}}Tools{{end}}

{{define "main"}}
    <div class="hover">
        <h1>Tools</h1>
        <div class="boxes">
            <a href="/tools/ip">What is my IP?</a>
            <a href="/tools/coordinates?pointa=51.650%2C+5.049">Coordinates Viewer</a>
        </div>
        <div class="boxes">
            <a href="/tools/unit">Unit converter</a>
            <a href="/tools/json">Validate and pretty print JSON</a>
        </div>
    </div>
{{end}}