{{define "title"}}Tools{{end}}

{{define "main"}}
    <div>
        <h1>Tools</h1>
        <div class="tools">
            <a href="/tools/ip">What is my IP?</a>
            <a href="/tools/coordinates?pointa=51.650%2C+5.049">Coordinates Viewer</a>
        </div>
        <div class="tools">
            <a href="/tools/unit?input=5 cups">Unit converter</a>
            <a href="/tools/json">Validate and pretty print JSON</a>
        </div>
    </div>
{{end}}