{{define "title"}}Unit Converter{{end}}

{{define "main"}}
<div>
    <h1>Unit Converter</h1>
    <p>Supports most measures for volume, length, and mass.</p>
    <form action="/projects/unit" method="GET">
        {{ with .ParseError }}
        <p style="color:indianred">{{ . }}</p>
        {{ end }}
        <label for="pointa">Amount + Unit:</label>
        <input type="text" id="input" name="input" value="{{ .Input }}"><br><br>
        <input type="submit" value="Submit">
    </form> 
    {{if .ConvertedInput}}
    <h2>{{ .Input }} = {{ .ConvertedInput }}</h2></div>
    <p>Converted from {{ .DetectedUnit }}.</p>
    {{end}}
{{end}}