{{define "title"}}Unit Converter{{end}}

{{define "main"}}
    <div>
        <h1>Unit Converter</h1>
        <div class="hover boxes">
            <a href="./volume">Volume</a>
            <a href="./length">Length</a>
            <a href="./mass">Mass</a>
        </div>
    </div>
{{end}}