<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/tailwind.css">
</head>
<body class="bg-blue-500 m-4 text-white">
    <header>
        <nav class="flex justify-between items-center sm:text-3xl mb-4">
            <div>            
                <a href="/" class="hover:text-gray-700">Bas van der Hoeven</a>
            </div>
            <div class="flex space-x-4">
                <a href="/about" class="hover:text-gray-700">About</a>
                <a href="/portfolio" class="hover:text-gray-700">Portfolio</a>
                <a href="/contact" class="hover:text-gray-700">Contact</a>
            </div>
        </nav>
    </header>

    <main>
        {{ template "content" . }}
    </main>

    <footer class="py-4 text-center">
        <p>&copy; 2024 Bas van der Hoeven. All rights reserved.</p>
    </footer>

    <script src="/static/js/main.js"></script>
</body>
</html>