{{ define "content" }}
<div class="text-center">
    <h1 class="text-white font-bold tracking-tight sm:text-4xl mb-2">Welcome to My Personal Website</h1>
    <p class="text-white">Hi, I'm Bas, and this is my personal website.</p>
</div>
<div class="grid grid-cols-3 gap-4 p-2 text-center">
    <a href="/ip" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-16 px-16 rounded-lg">What is my IP?</a>
    <a href="#" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-16 px-16 rounded-lg">Unit converter</a>
    <a href="#" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-16 px-16 rounded-lg">Book recommendation</a>
</div>
{{ end }}