{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Bas van der Hoeven</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    {{block "css" .}}{{end}}
</head>
<body>
    <header>
        {{template "nav" .}}
    </header>
    <main>
        {{ template "main" . }}
    </main>
</body>
</html>
{{end}}