{{define "nav"}}
    <nav>
        <div class="hover">            
            <a href="/">Bas van der Hoeven</a>
            <a href="/tools">Tools</a>
            <a href="/about">About</a>
        </div>
    </nav>
{{end}}