{{define "nav"}}
    <nav>
        <div class="hover">            
            <a href="/">Home</a>
            <a href="/tools">Tools</a>
            <a href="/about">About</a>
        </div>
    </nav>
{{end}}